name: MLflow CI Workflow

on:
  push:
    branches: [ main ]

jobs:
  train-and-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install Dependencies
        run: |
          pip install mlflow pandas scikit-learn docker

      - name: Run MLflow Training
        run: |
          cd MLProject
          mlflow run . --no-conda # Menggunakan environment lokal runner untuk kecepatan
        
      - name: Archive Model Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: trained-model
          path: mlruns/

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push MLflow Docker Image
        run: |
          # Perintah untuk build docker image dari model mlflow
          mlflow models build-docker -m "runs:/$(ls -t mlruns/0 | head -n 1)/model" -n "username_kamu/ml-model:latest"
          docker push username_kamu/ml-model:latest